html, body{ font-family: 'Montserrat', sans-serif; background-color:#fafafa; color: #7A7A7A; }
.main {font-size:10px; text-align:center; }

/*.title-plugin{ font-family: 'Pacifico', cursive; font-size: 50px; color: #019F9A}*/

.block-wrapper{ margin-right: auto; margin-left: auto; width: 824px; }
  .block{ color:#019F9A; float: left; border: 5px solid #019F9A; padding-top: 40px; width: 180px; height: 160px; margin: 20px}
    .block p { margin: 0; }

  .counter-wrapper{ font-weight:700; margin:5px 0px 5px 0px; font-size: 25px; }
  .text-block{ font-size: 20px; }

.lnr-smartphone {
  color: #019f9a;
  font-size: 80px;